body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
  background-size: cover;
  background-position: center;
}

header {
  margin-bottom: 100px;
}

.cover-container {
  max-width: 50vw;
}
