<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center my-5">
    <div class="card bg-dark text-white col-12 col-sm-10 col-lg-8 shadow">
      <h5 class="card-title my-3 mx-auto">Create a new campground</h5>

      <div class="card-body">
        <form
          action="/campgrounds"
          method="POST"
          novalidate
          class="validatedform"
          enctype="multipart/form-data"
        >
          <div clas="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="campground[title]"
              required
            />
            <div class="valid-feedback">Looks good</div>
          </div>
          <div>
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              id="location"
              name="campground[location]"
              required
            />
            <div class="valid-feedback">Looks good</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">£</span>
              <input
                id="price"
                type="number"
                class="form-control"
                placeholder="0.00"
                aria-label="price"
                name="campground[price]"
                aria-describedby="price-label"
                required
              />
              <div class="valid-feedback">Looks good</div>
            </div>
          </div>
          <div>
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="campground[description]"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="input-group my-3">
            <input
              type="file"
              class="form-control"
              name="image"
              id="image"
              multiple
            />
            <label class="input-group-text" for="image">Upload</label>
          </div>
          <div class="my-3">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>

        <footer>
          <a class="btn btn-info" href="/campgrounds"
            >Back to all campgrounds</a
          >
        </footer>
      </div>
    </div>
  </div>
</div>
